.block1__title {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 30px;
}

.block1__article1 {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.block1__article1:last-child {
    margin-right: 0;
}


.block1__text {
    display: block;
    width: 500px;
    margin-bottom: 30px;
}

.block1__container {
    margin-bottom: 30px;
}

.text2:last-child {
    margin-bottom: 0;
}

.text3:last-child {
    margin-bottom: 0;
}