
.margin-DOM-el__text:not(:last-child) {
    margin-bottom: 30px;
}

.image-style {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.text-gray {
    color: #5E5E5E;
    padding: 10px 5px 20px 20px;
    margin: 0;
}

.margin-DOM-el__border {
    border: 1px solid black;
    margin-bottom: 30px;
}

.margin-DOM-el__img-console {
    width: 100%;
    object-fit: fill;
}

.image-example {
    display: block;
    margin: 0 auto;
}

.margin-DOM-el__img {
    margin-bottom: 30px;
}