.title {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 30px;
}

.margin-rules__part,
.margin-rules__second-part {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    max-width:520px;
    margin-bottom: 30px;
}

.margin-rules__part:last-child {
    margin-right: 0;
}

.margin-rules__margin-next-el:not(:last-child),
.margin-rules__padding:not(:last-child) {
    display: block;
    width: 500px;
    margin-bottom: 30px;
}

.margin-rules__container {
    margin-bottom: 0;
}
