
.margin-DOM-el__text:not(:last-child) {
    margin-bottom: 30px;
}

.image-style {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.text-gray {
    color: #5E5E5E;
    padding: 10px 5px 20px 20px;
    margin: 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.margin-DOM-el__img-console {
    width: 100%;
    border-top: 1px solid black;
}

.image-example {
    display: block;
    margin: 0 auto;
}

.margin-DOM-el__img {
    margin-bottom: 30px;
}